{% extends 'base.html' %}{% load static %} {% block title %}Home -
ForexSignal-Pips{% endblock %} {% block content %}
<h2>Welcome to ForexSignal-Pips</h2>
<p>Start your trading journey with our expert Forex signals.</p>
<img
  src="{% static 'images/home-banner.jpg' %}"
  alt="Forex Banner"
  style="width: 100%; max-width: 800px"
/>
<p>
  <a
    href="https://t.me/your_telegram_channel"
    target="_blank"
    class="telegram-button"
  >
    Join our Telegram Channel
  </a>
</p>
{% endblock %}
